{% extends 'base.html' %}

{% block content %}
  <h1 class="text-center mt-4">Login Page</h1>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Invalid username or password.
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <div class="alert alert-info" role="alert">
                You are already logged in as {{ user.username }}.
            </div>
            <a href="{% url 'tweet_app:list_tweet' %}" class="btn btn-primary">Go to Tweets</a>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
